@charset "UTF-8";
:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
}

/* End CSS Reset */
/*
  favicon is the icon displayed in the title. There are many websites which generate favicons from png/jpg... such as favicon.io (search for favicon).
  favicon is linked in the hrtml header section
 */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 4);
}

.button {
  background-color: var(--color-soft-blue);
  border-radius: var(--default-radius);
  padding: 1.2rem 2.4rem;
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  /*
    box-shadow: offset-x offset-y blur-radius spread-radius color;
   */
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
}
.button--secondary {
  background-color: var(--color-off-white);
  color: var(--color-very-dark-blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--default-padding);
}

.logoContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.logoContent__logo {
  width: 4rem;
  max-width: 100%;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
}
.links__link {
  color: var(--color-very-dark-blue);
  /*
    - ease-in-out is the timing function.
      It controls how the animation progresses over time, not how long it lasts.
      Slow → fast → slow
    - linear → same speed all the time
    - ease-in → slow start, fast end
    - ease-out → fast start, slow end
   */
  transition: color var(--timing-animation) ease-in-out;
}
.links__link:hover {
  color: var(--color-soft-red);
}

.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);
  /*
    &:nth-child(1): lets you select elements based on their position among siblings.

    &:nth-of-type(1): select elements based on their position among siblings of the same element type.
   */
}
.section__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) / 2);
}
.section:nth-of-type(1) .section__title {
  font-size: 4.2rem;
}
.section__description {
  font-size: 1.4rem;
  color: var(--color-grayish-blue);
}
.section__buttons {
  display: flex;
  gap: var(--default-padding);
  margin-top: var(--default-padding);
}
.section__imageContent {
  flex: 1;
  display: flex;
}
.section__image {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */