:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-white: white;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  // color: var(--color-white);
}

/* End CSS Reset */

/*
  favicon is the icon displayed in the title. There are many websites which generate favicons from png/jpg... such as favicon.io (search for favicon).
  favicon is linked in the hrtml header section
 */

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 4);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) * 2);
  }
}

.button {
  background-color: var(--color-soft-blue);
  border-radius: var(--default-radius);
  padding: 1.2rem 2.4rem;
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  /*
    box-shadow: offset-x offset-y blur-radius spread-radius color;
   */
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);

  &--secondary {
    background-color: var(--color-off-white);
    color: var(--color-very-dark-blue);
  }

  &--disabled {
    background-color: var(--color-grayish-blue);
    cursor: not-allowed;  // cursor image
    user-select: none;    // make <a> unclickable
  }
}

.header {
  display: flex;
  align-items: center;  // vertically
  justify-content: space-between;
  // margin-top: var(--default-padding);
  
  // sticky
  top: 0rem;
  position: sticky;
  background: var(--color-white);
  z-index: 1;
  padding: 1rem;

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }
}

.logoContent {
  display: flex;
  align-items: center;  // vertically
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
 
  &__logo { // same as .logoContent__logo {
    width: 4rem;
    max-width: 100%;
  }
}

.links {
  display: flex;
  align-items: center;  // vertically
  gap: var(--default-padding);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) / 2);
  }

  &__link {
    color: var(--color-very-dark-blue);
    /*
      transition: property duration timing-function delay;
      - ease-in-out is the timing function.
        It controls how the animation progresses over time, not how long it lasts.
        Slow → fast → slow
      - linear → same speed all the time
      - ease-in → slow start, fast end
      - ease-out → fast start, slow end
     */
    transition: color var(--timing-animation) ease-in-out;

    &:hover {
      color: var(--color-soft-red);
    }
  }
}

.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);
  opacity: 0;
  transform: translateX(30rem);
  transition: all var(--timing-animation) ease-in-out;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &.in-view {
    opacity: 1;
    transform: translateX(0);

    :not(.section--one-column) & {
      & > div:nth-of-type(1) {
        transform: translateX(0rem);
      }

      & > div:nth-of-type(2) {
        transform: translateX(0rem);
      }
    }
  }

  &--one-column {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  /*
    &:nth-child(1): lets you select elements based on their position among siblings.

    &:nth-of-type(1): select elements based on their position among siblings of the same element type.
   */
  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
  }

  &__description {
    font-size: 1.4rem;
    color: var(--color-grayish-blue);

    // if this description has a parent called .section--one-column
    .section--one-column & {
      max-width: 50rem;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }

  &__button:not(.card__button) {
    @media (max-width: 600px) {
      flex: 1;
      text-align: center;
    }
  }

  &__imageContent {
    flex: 1;
    display: flex;

    @media (max-width: 600px) {
      order: -1;
    }
  }

  &__image {
    max-width: 100%;
  }
}

.cards {
  display: flex;
  gap: var(--default-padding);
  width: 100%;
  margin-top: calc(var(--default-padding) * 2);
  justify-content: space-between;

  @media (max-width: 600px) {
    // flex-direction: column;
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: var(--default-radius);
  width: 25rem;
  height: 26rem;
  padding: var(--default-padding);
  padding-top: calc(var(--default-padding) * 2);

  @media (max-width: 600px) {
    width: 100%;
  }

  &__image {
    width: 6rem;
    max-width: 100%;
    margin-bottom: calc(var(--default-padding) / 2);
  }

  &__title {
    font-size: 1.8rem;
  }

  &__button {
    position: relative;
    align-self: stretch;
    text-align: center;
    margin-top: auto; // push it to bottom

    &:before {
      content: "";
      position: absolute;
      background: url("../images/bg-dots.svg") repeat-x;
      /*
        background-size: contain; tells the browser to scale the background image so the entire image fits inside the element, without cropping it.

       */
      background-size: contain; // bg-img is not streched
      height: 0.3rem;
      top: calc(var(--default-padding) * -1.4);
      left: calc(var(--default-padding) * -1);
      right: calc(var(--default-padding) * -1);
    }
  }
  
}

/*
  This style is called accordion
  
  Accordion style is a common UI pattern where content is stacked in sections, and each section can be expanded or collapsed to show or hide its content.

  It’s called an “accordion” because it opens and closes like the musical instrument. */
.faq {
  max-width: 50rem;
  margin-top: calc(var(--default-padding) * 2);
  border-top: 1px solid var(--color-grayish-blue);
  border-bottom: 1px solid var(--color-grayish-blue);

  /*
    The width of all li elements = the maximal width of all lis
   */
  &__row {
    position: relative;
    padding: var(--default-padding) 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-grayish-blue);
    }
  }

  &__input {
    display: none;

    /*
      sibling selector ~
      Select any following sibling elements
      - Both elements must share the same parent
      - .faq__arrow must come after the &__input in the HTML
      - It does not need to be immediately next
     */
    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }

    &:checked ~ .faq__answer {
      opacity: 1;
      /*
        note that this is the max-height. the actual height
        can be less
       */
      max-height: 30rem;
      padding-top: var(--default-padding);
    }
  }

  &__question {
    display: block; // take the whole width
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__arrow {
    width: 1.2rem;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: calc(var(--default-padding) + 0.6rem);
    /*
      transition: property duration timing-function delay;
     */
    transition: transform var(--timing-animation) ease-in-out;
  }

  &__answer {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0;
    transition: all var(--timing-animation) ease-in-out;
    /*
      why not height? because height might change what that
      browser width changes, e.g. very small
     */
    max-height: 0.1rem;
    overflow: hidden; // hide everything after max-height
    // margin-top: var(--default-padding);
  }
  
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: space-between; // this will change the start of before's background
  justify-content: center;
  color: white;
  padding: var(--default-padding) 0;
  font-size: 1.4rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &__left {
    margin-right: auto;

    @media (max-width: 600px) {
      margin-right: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }
}